
<div class="container">
  <h1>Pick Job Location</h1>
  <hr/>
  
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
        #search [formControl]="searchControl">
    </div>

    <agm-map [latitude]="location.lat" [longitude]="location.lng" [scrollwheel]="false" [zoom]="zoom" (mapClick)="onMapClick($event)">
      <agm-marker [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
    </agm-map>
    
    <div class="d-flex justify-content-between mt-1">
      <div class="p-1"></div>
      <div class="p-1">
        <button type="submit" class="btn btn-success">Get me a tradesman now!</button>
      </div>
      <div class="p-1"></div>
    </div>
  </form>

</div>